@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@model Sitecore.Feature.Favorites.Models.IFavorites
<div id="favoritesMenuItems">
  @if (Model.Items.Any())
  {
    <table class="table table-condensed table-hover table-borderless">
      @foreach (var favorite in Model.Items)
        {
        <tr>
          <td class="text-nowrap">
            <a href="@favorite.ItemUrl">@favorite.Title</a>
          </td>
          <td>
            <a class="favorite" href="#" onclick="jQuery('head').trigger('favorites:removePage', ['@favorite.ItemID.ToGuid().ToString("D")'])" data-item="@favorite.ItemID.ToGuid().ToString("D")">
              <i class="fa fa-trash pull-right"></i>
            </a>
          </td>
        </tr>
      }
    </table>
  }
  else
  {
    <div class="m-b-1">
      <em>
        @Html.Sitecore().Dictionary("/Favorites/Favorites Menu/None", "No favorites have been selected")
      </em>
    </div>
  }
</div>


