@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@using Sitecore.Mvc.Presentation
@model Sitecore.Feature.Favorites.Models.IFavorites

<li class="dropdown hidden-xs">
  <a href="#" class="btn dropdown-toggle" data-toggle="dropdown" title="@Html.Sitecore().Dictionary("/Favorites/Favorites Menu/Tooltip", "Favorites")">
    <i class="fa fa-heart"></i>
  </a>
  <div class="dropdown-menu">
    <h4>@Html.Sitecore().Dictionary("/Favorites/Favorites Menu/Title", "Favorites")</h4>
    @Html.Partial("_Favorites", Model)
    <a href="#" onclick="jQuery('head').trigger('favorites:addCurrentPage', '@Html.Sitecore().CurrentRendering.Item.ID.ToGuid().ToString("D")')" class="btn btn-block btn-default">
      <i class="fa fa-plus-square"></i> @Html.Sitecore().Dictionary("/Favorites/Favorites Menu/Add To Favorites", "Add Current Page")
    </a>
    <a href="@Url.Action("Print", "Favorites")" class="btn btn-block btn-primary">
      <i class="fa fa-file-pdf-o"></i> @Html.Sitecore().Dictionary("/Favorites/Favorites Menu/Print Favorites", "Download PDF")
    </a>
  </div>
</li>