@using System.Diagnostics
@using Sitecore.Data.Fields
@using Sitecore.Feature.Newsletter.Repositories
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
  var repository = new NewsletterOptionsRepository();
  var options = repository.Get(Model.Item);
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  @Html.Sitecore().Placeholder("newsletter_head")
  <style>
    body {
      margin: 0;
    }
  </style>
</head>
<body>
  @Html.Raw(options.BeforeBodyHtml)

  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
      <td></td>
      <td width="@options.MaxWidth">
        @Html.Sitecore().Placeholder("newsletter")
      </td>
      <td></td>
    </tr>
    </tbody>
  </table>

  @Html.Raw(options.AfterBodyHtml)
</body>
</html>