@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@using Sitecore.Mvc.Presentation
@using System.Web.Mvc.Html
@using Sitecore.Feature.Brochure
@model Sitecore.Feature.Brochure.Models.BrochureMenuViewModel

<li class="dropdown hidden-xs">
    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown" title="@Model.BrochureItem[Templates.Brochure.Fields.Title]">
        <i class="fa fa-file-pdf-o"></i>
    </a>
    <div class="dropdown-menu">
        <h4>
            @Html.Sitecore().Field(Templates.Brochure.Fields.Title, Model.BrochureItem)
        </h4>
        @Html.Sitecore().Field(Templates.Brochure.Fields.Description, Model.BrochureItem)
        @Html.Partial("_BrochureItems", Model.Items)
        <a href="#" onclick="jQuery('head').trigger('brochure:addCurrentPage', '@Model.AddToBrochureItem.ID.ToGuid().ToString("D")')" class="btn btn-block btn-default" @(Model.AllowCurrentItemInBrochure ? "" : "disabled=\"disabled\"")>
            <i class="fa fa-plus-square"></i> @Html.Sitecore().Dictionary("/Brochure/Brochure Menu/Add To Brochure", "Add Current Page")
        </a>
        <a id="brochureMenuButton" href="@Url.Action("Print", "Brochure", new { brochure = Model.BrochureItem.ID })" class="btn btn-block btn-primary">
            <i class="fa fa-file-pdf-o"></i> @Html.Sitecore().Dictionary("/Brochure/Brochure Menu/Print Brochure", "Download PDF")
        </a>
    </div>
</li>